
<div class="main">
  <h3 style="text-align: center;">Create Assignment</h3>
<form #create="ngForm">
    <div class="group">
      <input class="input" [(ngModel)] ="newAssign.name" name="question" placeholder="Name"  type="text" required ><span class="highlight" ></span><span class="bar"></span>
    </div>
    <div class="group">
      <input class="input" [(ngModel)] ="newAssign.descriptions" name="a" placeholder="Descriptions" type="text" required><span class="highlight"></span><span class="bar"></span>
    </div>
    <div class="group">
    <input class="input" [(ngModel)] ="newAssign.pre_requisites" name="a" placeholder="Pre-Requisites" type="text" required><span class="highlight"></span><span class="bar"></span>
  </div>
    <div class="group">
      <input class="input" [(ngModel)] ="newAssign.duration" name="b" type="text" placeholder="Duration (HH:MM:SS)" required minlength="8" maxlength="8"><span class="highlight" ></span><span class="bar"></span>
    </div>
    <button type="button" [disabled]="create.form.invalid" (click)="onCreate()" class="button buttonBlue">Create
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
  </form>

</div>