

    <div class="picture">
        <img style="width: 85%;height: auto;" src="../../assets/img/landing.jpg" >
        <div class="welcome">
            <p style="font-size: 60px; text-align: center;"> Welcome to Assessment <br>  Module </p>
        </div>

        <div class="login">
        <div class="share-button">
            <span>Have an Account</span>
            
            <a [routerLink]= "['/login']" >SIGN IN</a>
            
          </div>
        </div>
        <div class="new">
            <div class="share-button">
                <span>Don't have One</span>
                
                <a [routerLink]= "['/new']" >SIGN UP</a>
                
              </div>
            </div>
    </div>
