

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      User
    </div>

    <!-- Login Form -->
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" >
      <!-- {{loginForm.form.valid}} -->
      <input type="email" id="login" class="fadeIn second" [(ngModel)] ="user.username" name="user" placeholder="Email" required #name="ngModel">

      <div *ngIf="name.invalid && (name.dirty || name.touched)"
      class="alert">
  
    <div *ngIf="name.errors.required">
      Name is required.
    </div>
  </div>

      <input type="password" id="password" class="fadeIn third" [(ngModel)] ="user.password" name="password" placeholder="Password" required minlength="8" #password="ngModel">
      <div *ngIf="password.invalid && (password.dirty || password.touched)"
      class="alert">
  
    <div *ngIf="password.errors.required">
      password is required.
    </div>
    <div *ngIf="password.errors.minlength">
      password must be at least 8 characters long.
    </div>
  </div>
      <input type="submit" [disabled]="loginForm.form.invalid" class="fadeIn fourth" value="Log In">
      
    </form>

    <div>
      <button (click)="googleSignin()" style="color: red;"><i class="fa fa-google"></i> GOOGLE</button>
    </div>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" [routerLink]= "['/new']">Don't have an account?Sign Up</a>
    </div>

  </div>
</div>