
<section>
  <nav>
    <ul class="menuItems">
      <li><a (click)="assignComp('Assessments')" data-item='Assessments'>Assessments</a></li>
      <!-- <li><a [routerLink]="[[{ outlets: {admin: ['/candidates'] } }]]" data-item='Candidates'>Candidates</a></li> -->
      <li><a (click)="assignComp('Candidates')" data-item='Candidates'>Candidates</a></li>
      <li><a (click)="assignComp('Create')" data-item='Create'>Create</a></li>
      <li><a (click)="assignComp('Profile')" data-item='Profile'>Profile</a></li>
      <li><a  (click)="logout()" data-item='Logout'>Log Out</a></li>
    </ul>
  </nav>

</section>
<div>
  <ng-container *ngComponentOutlet="dummyComponent"></ng-container>
</div>
