
<section>
  <nav>
    <ul class="menuItems">
      <li><a href='#' data-item='Assessments'>Assessments</a></li>
      <li><a [routerLink]="['/candidates']" data-item='Candidates'>Candidates</a></li>
      <li><a href='#' data-item='Projects'>Projects</a></li>
      <li><a href='#' data-item='Blog'>Blog</a></li>
      <li><a href='#' data-item='Profile'>Profile</a></li>
    </ul>
  </nav>

</section>

<router-outlet></router-outlet>
<!-- Footer starts-->
<footer>

  <!-- Copyright -->
  <!-- ❤️  -->
  <div class="footer-copyright text-center">&copy; Developed with ❤️ 
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer ends-->

<!-- Developed by http://grohit.com/ -->